*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
}
