*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-bg: linear-gradient(-10deg, #6432c8, #5a78ff 30%, #5ac8ff 85%);
    --primary-bg-fallback: #5ac8ff;
    --secondary-bg: #fff1;
    --primary-text: #fff;
    --secondary-text: #fff5;
    --dark-mode-light: #fff;
    --dark-mode-dark: #fff5;
    --dark-mode-bg: #fff2;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 62.5%;
    line-height: 1;
}

.dark-mode {
    --primary-bg: linear-gradient(-10deg, #001e3c 10%, #003c78 85%);
    --primary-bg-fallback: #003c78;
    --secondary-bg: #fff1;
    --primary-text: #fff;
    --secondary-text: #fff5;
    --dark-mode-light: #fff5;
    --dark-mode-dark: #fff;
    --dark-mode-bg: #001e3c;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--primary-bg-fallback);
    background: var(--primary-bg);
    color: var(--primary-text);
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
}

@media (orientation: landscape) and (max-height: 450px) {
    .page-container {
        padding-top: 0.1rem;
    }
}

.footer-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--secondary-bg);
    padding-bottom: env(safe-area-inset-bottom);
    gap: 3rem;

    p {
        font-size: 1.4rem;
        font-weight: 400;
        padding: 1.4rem 0;
    }
}

// Dark Mode Button

.footer-darkmode-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-darkmode-light {
    color: var(--dark-mode-light);
}

.footer-darkmode-dark {
    color: var(--dark-mode-dark);
}

.footer-darkmode-button {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    width: 4.9rem;
    height: 3rem;
    border-radius: 4.9rem;
    background-color: var(--dark-mode-bg);
}

.footer-darkmode-switch {
    position: absolute;
    top: 6px;
    left: 6px;
    appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(0);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: none;
        transform-origin: center top;
        transform: translateX(0);
        transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    }

    &:checked {
        background-color: #fff;
        transform: translateX(100%) rotate(5deg);

        &::before {
            background-color: #001e3c;
            transform: translateX(100%) rotate(50deg);
        }
    }
}
